@charset "utf-8";

/* Remove horizontal jump when scrollbar is here. */
@media (min-width: 1250px) {
    html {
        margin-left: calc(100vw - 100%);
        margin-right: 0;
    }
}

body {
  margin: 0;
  font-family: $base-font-family;
  font-size: $base-font-size;
  @media (max-width: 700px) {
      font-size: $small-base-font-size;
  }
  line-height: $base-line-height;
  color: $text-color;
}

p {
  text-align: left;
}

a {
  color: $link-color;
  text-decoration: none;
  &:not(.anchor):hover {
    text-decoration: underline;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $title-font-family;
  font-weight: 700;
  word-break: break-word;
}

h1 { font-size: 1.6em; }
h2 { font-size: 1.4em;}
h3 { font-size: 1.25em; }

blockquote {
  font-style: italic;
  padding-left: 1rem;
  border-left: 3px solid $border-color;
}

figure {
  margin: 1rem 0rem;
}

figcaption {
  font-size: 0.75rem;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  max-width: 100%;
  width: 100%;
}

th, td {
  padding: 0.5rem;
  line-height: inherit;
}

th {
  text-align: left;
  vertical-align: bottom;
  border-bottom: 2px solid $border-color;
}

td {
  vertical-align: top;
  border-bottom: 1px solid $border-color;
}
