@font-face {
    font-family:'Inria Serif';
    font-display: swap;
    src:	url('fonts/InriaSerif/InriaSerif-Light.eot');
    src:	url('fonts/InriaSerif/InriaSerif-Light.eot?#iefix') format('embedded-opentype'),
    url('fonts/InriaSerif/InriaSerif-Light.woff2') format('woff2'),
    url('fonts/InriaSerif/InriaSerif-Light.woff') format('woff'),
    url('fonts/InriaSerif/InriaSerif-Light.svg') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family:'Inria Serif';
    font-display: swap;
    src:	url('fonts/InriaSerif/InriaSerif-LightItalic.eot');
    src:	url('fonts/InriaSerif/InriaSerif-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('fonts/InriaSerif/InriaSerif-LightItalic.woff2') format('woff2'),
    url('fonts/InriaSerif/InriaSerif-LightItalic.woff') format('woff'),
    url('fonts/InriaSerif/InriaSerif-LightItalic.svg') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family:'Inria Serif';
    font-display: swap;
    src:	url('fonts/InriaSerif/InriaSerif-Italic.eot');
    src:	url('fonts/InriaSerif/InriaSerif-Italic.eot?#iefix') format('embedded-opentype'),
    url('fonts/InriaSerif/InriaSerif-Italic.woff2') format('woff2'),
    url('fonts/InriaSerif/InriaSerif-Italic.woff') format('woff'),
    url('fonts/InriaSerif/InriaSerif-Italic.svg') format('svg');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family:'Inria Serif';
    font-display: swap;
    src:	url('fonts/InriaSerif/InriaSerif-Regular.eot');
    src:	url('fonts/InriaSerif/InriaSerif-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/InriaSerif/InriaSerif-Regular.woff2') format('woff2'),
    url('fonts/InriaSerif/InriaSerif-Regular.woff') format('woff'),
    url('fonts/InriaSerif/InriaSerif-Regular.svg') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family:'Inria Serif';
    font-display: swap;
    src:	url('fonts/InriaSerif/InriaSerif-Bold.eot');
    src:	url('fonts/InriaSerif/InriaSerif-Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/InriaSerif/InriaSerif-Bold.woff2') format('woff2'),
    url('fonts/InriaSerif/InriaSerif-Bold.woff') format('woff'),
    url('fonts/InriaSerif/InriaSerif-Bold.svg') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family:'Inria Serif';
    font-display: swap;
    src:	url('fonts/InriaSerif/InriaSerif-BoldItalic.eot');
    src:	url('fonts/InriaSerif/InriaSerif-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('fonts/InriaSerif/InriaSerif-BoldItalic.woff2') format('woff2'),
    url('fonts/InriaSerif/InriaSerif-BoldItalic.woff') format('woff'),
    url('fonts/InriaSerif/InriaSerif-BoldItalic.svg') format('svg');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family:'Inria Sans';
    font-display: swap;
    src:	url('fonts/InriaSans/InriaSans-Light.eot');
    src:	url('fonts/InriaSans/InriaSans-Light.eot?#iefix') format('embedded-opentype'),
    url('fonts/InriaSans/InriaSans-Light.woff2') format('woff2'),
    url('fonts/InriaSans/InriaSans-Light.woff') format('woff'),
    url('fonts/InriaSans/InriaSans-Light.svg') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family:'Inria Sans';
    font-display: swap;
    src:	url('fonts/InriaSans/InriaSans-LightItalic.eot');
    src:	url('fonts/InriaSans/InriaSans-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('fonts/InriaSans/InriaSans-LightItalic.woff2') format('woff2'),
    url('fonts/InriaSans/InriaSans-LightItalic.woff') format('woff'),
    url('fonts/InriaSans/InriaSans-LightItalic.svg') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family:'Inria Sans';
    font-display: swap;
    src:	url('fonts/InriaSans/InriaSans-Italic.eot');
    src:	url('fonts/InriaSans/InriaSans-Italic.eot?#iefix') format('embedded-opentype'),
    url('fonts/InriaSans/InriaSans-Italic.woff2') format('woff2'),
    url('fonts/InriaSans/InriaSans-Italic.woff') format('woff'),
    url('fonts/InriaSans/InriaSans-Italic.svg') format('svg');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family:'Inria Sans';
    font-display: swap;
    src:	url('fonts/InriaSans/InriaSans-Regular.eot');
    src:	url('fonts/InriaSans/InriaSans-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/InriaSans/InriaSans-Regular.woff2') format('woff2'),
    url('fonts/InriaSans/InriaSans-Regular.woff') format('woff'),
    url('fonts/InriaSans/InriaSans-Regular.svg') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family:'Inria Sans';
    font-display: swap;
    src:	url('fonts/InriaSans/InriaSans-Bold.eot');
    src:	url('fonts/InriaSans/InriaSans-Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/InriaSans/InriaSans-Bold.woff2') format('woff2'),
    url('fonts/InriaSans/InriaSans-Bold.woff') format('woff'),
    url('fonts/InriaSans/InriaSans-Bold.svg') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family:'Inria Sans';
    font-display: swap;
    src:	url('fonts/InriaSans/InriaSans-BoldItalic.eot');
    src:	url('fonts/InriaSans/InriaSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('fonts/InriaSans/InriaSans-BoldItalic.woff2') format('woff2'),
    url('fonts/InriaSans/InriaSans-BoldItalic.woff') format('woff'),
    url('fonts/InriaSans/InriaSans-BoldItalic.svg') format('svg');
    font-weight: 700;
    font-style: italic;
}
