@charset "utf-8";

.site-container {
    max-width: 48rem;
    margin: 0 auto;
    padding: 0 2rem;
    min-height: 60vh;
}

.site-header {
    .site-title {
        display: block;
        font-weight: 700;
        font-size: 55px;
        a {
            color: $text-color;
            text-decoration: none;
        }
        img {
            vertical-align: middle;
        }
    }

    .site-nav, .site-nav-responsive {
        font-size: 1.2em;
        font-weight: 500;
        text-align: center;
        a {
            color: $text-color;
            text-decoration: none;
            padding: 2px 2px;
        }
        .subsection {
            font-size: 0.75em;
        }
    }

    @media (min-width: 700px) {
        .site-title {
            text-align: center;
            img {
                width: 160px;
                height: 160px;
            }
        }
        .site-nav {
            a {
                &:hover, &.active {
                    border-bottom: 2px solid #666;
                }
                + a {
                    margin-left: 0.5rem;
                }
            }
            a.icon {
                display: none;
            }
            .subsection {
                a {
                    margin-left: 0.5rem;
                }
                display: inline;
            }
        }
    }

    @media not screen and (min-width: 700px) {
        .site-title {
            font-size: 22px;
            img {
                height: 50px;
            }
        }
        .site-nav, .site-nav-responsive {
            display: block;
            position: relative;
            a {
                display: block;
                float: none;
                text-align: left;
                &:hover:not(.icon) {
                    text-decoration: underline;
                }
            }
            a.icon {
                float: right;
                position: absolute;
                right: 0;
                top: 0;
            }
            .subsection {
                a {
                    margin-left: 0.5rem;
                }
            }
        }
        .site-nav {
            a:not(.active):not(.icon) {
                display: none;
            }
        }

    }
}

.information {
    font-weight: 600;
    font-size: 1.3em;
}

.important {
    font-size: 1.5em;
    color: $link-color;
}

.paper {
    .title {
	font-weight: 600;
    }
}

.paperlinks {
    table, tr, td{
	border:0;
	text-align:center;
	width:auto;
	margin:auto;
    }
    margin-left: auto;
    margin-right: auto;
}

.live {
    text-align:center;
}

@media (min-width: 1250px) {
    .organization, .all-sponsors {
        position: absolute;
        top: 25vh;
        div {
            margin-bottom: 4vh;
            img {
                width: 10vw;
            }
        }
    }

    .organization {
        left: 5vw;
    }
    .all-sponsors {
        left: 85vw;
    }
}

@media not screen and (min-width: 1250px) {
    .sponsors-container {
        max-width: 48rem;
        margin: 0 auto;
        padding: 0 2rem;
        text-align: center;
        .organization, .all-sponsors {
            max-width: 30%;
            display: inline-block;
            vertical-align: top;
            div {
                margin-top: 4vh;
                display: block;
                vertical-align: middle;
                img {
                    width: 100%;
                }
            }
        }
        .all-sponsors {
            margin-left: 20%;
        }
    }
}

.timetable {
    .slot-talk {
        background-color: $tt-color;
    }
    .slot, .slot-talk {
        .time {
            width: 6rem;
            display: inline-block;
            vertical-align: middle;
            padding-right: 1.1rem;
        }
        .theme {
            text-align: center;
	    font-size: 110%;
	    font-weight: bold;
	    text-underline-offset: 2px;
        }
        .content {
            display: inline-block;
            vertical-align: middle;
            width: 80%;
            ul {
                list-style-position: inside;
		padding-left: 0;
            }
	    li{
		margin: 10px 0;
	    }
        }
        padding: 0.5rem 0.5rem;
	margin-bottom: 1rem;
    }
}
