@charset "utf-8";

$base-font-family: 'Inria Sans', sans-serif;
$title-font-family: 'Inria Sans', sans-serif;
$code-font-family: 'Inria Sans', sans-serif;
$base-font-size:   18px;
$small-base-font-size:  16px;
$small-font-size:  0.875rem;
$base-line-height: 1.5;

$text-color:   #333;
$link-color:   #b40014;
$tt-color:     #ffe9ec;
$meta-color:   #a0a0a0;
$border-color: #ddd;

@import "base";
@import "layout";
@import "fonts";
