<span class='paper'>
{% if title %}<span class='title'>{{ title | markdown(inline=true) | safe }}</span>,{% endif %}
{% if authors %}<span class='authors'>{{ authors | markdown(inline=true) | safe }}</span>{% endif %}{% if preprint or video %}
<span class='paperlinks'>
<table>
<tr>{% if preprint  %}
<td><a href={{ preprint | safe }}>Read paper</a></td>{% endif %}{% if preprint and video %}
<td> - </td>{% endif %}{% if video %}
<td><a href={{ video | safe }}>Watch recorded talk</a></td>{% endif %}
</tr>
</table>
</span>{% endif %}
</span>
