<div class='slot-talk'>
<div class='time'>{{ time_begin }}{%if time_end %}-{{ time_end }}{% endif %}</div>
<div class='content'>{%if theme %}<div class='theme'>{{ theme | markdown(inline=true) | safe }}</div>{% endif %}{%if live%}
<div class='live'>
<a href={{ live | safe }}>&gt; Watch live session &lt;</a>
</div>{% endif %}{%if chat%}
<div class='live'>
<a href={{ chat | safe }}>&gt; Ask questions on Mattermost &lt;</a>
</div>{% endif %}{%if chair%}
<div>
<b>Chair{%if invited %}{% else %}s{% endif %}:</b> {{chair}}
</div>{% endif %}
