<!DOCTYPE html>
<!-- Sources: https://gitlab.inria.fr/vvasseur/pqcrypto-2020 -->
<html lang='en'>
<head>
<meta charset='utf-8'>
<meta name='viewport' content='width=device-width, initial-scale=1'>{% if page and page.description %}
<meta name='description' content='{{ page.description }}'>{% elif section and section.description %}
<meta name='description' content='{{ section.description }}'>{% else %}
<meta name='description' content='{{ config.description }}'>{% endif %}{% if page %}
<title>{{ config.title }} - {{ page.title }}</title>{% else %}
<title>{{ config.title }} - {{ section.title }}</title>{% endif %}
<link rel='stylesheet' href='{{ config.base_url | safe }}main.css'>{% block extra_header %}{% endblock extra_header %}
<link rel="icon" type="image/png" sizes="16x16" href="{{ config.base_url | safe }}pqc-logo-16.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{ config.base_url | safe }}pqc-logo-32.png">
<link rel="icon" type="image/png" sizes="64x64" href="{{ config.base_url | safe }}pqc-logo-64.png">
<link rel="icon" type="image/png" sizes="128x128" href="{{ config.base_url | safe }}pqc-logo-128.png">
<link rel="icon" type="image/svg+xml" href="{{ config.base_url | safe }}pqc-logo.svg">
</head>
<body>
<div class='site-container'>
<header class='site-header'>
<div class='site-title'><a href='{{ config.base_url | safe }}'><img src="{{ config.base_url | safe }}pqc-logo.svg" alt="PQCrypto">{{ config.title }}</a></div>
<nav class='site-nav' id='nav-bar'>{% set main_section = get_section(path="_index.md") %}
<a href='{{ config.base_url | safe }}' class='{% if section and section.path == '/' %}active{% endif %}'>{{ main_section.title }}</a>{% set posts = get_section(path="_index.md") %}{% for post in posts.pages %}{% if not post.extra.hidden %}
<a href='{{ post.permalink | safe }}' class='{% if page and page.path is containing(post.path) %}active{% endif %}'>{{ post.title }}</a>{% endif %}{% endfor %}
<a href="javascript:void(0);" class="icon" onClick="openDrawerMenu()">&#9776;</a>
</nav>
</header>
<main class='site-content'>{% block content %}{% endblock content %}</main>
</div>
<div class='sponsors-container'>
<div class='organization'>
<div><img src="{{ config.base_url | safe }}logos/inria.svg" alt="Inria"></div>
<div><img src="{{ config.base_url | safe }}logos/sorbonne_universite.svg" alt="Sorbonne Université"></div>
<div><img src="{{ config.base_url | safe }}logos/almacrypt.png" alt="ERC almacrypt"></div>
<div><img src="{{ config.base_url | safe }}logos/europa.svg" alt="European Union"></div>
</div>
<div class='all-sponsors'>
<div class='main-sponsors'>
<div><img src="{{ config.base_url | safe }}logos/aws.svg" alt="Amazon Web Services"></div>
<div><img src="{{ config.base_url | safe }}logos/cisco.png" alt="Cisco"></div>
<div><img src="{{ config.base_url | safe }}logos/worldline.svg" alt="Worldline"></div>
</div>
<div class='sponsors'>
<div><img src="{{ config.base_url | safe }}logos/infineon.jpg" alt="Infineon"></div>
<div><img src="{{ config.base_url | safe }}logos/pqshield.svg" alt="PQShield"></div>
</div>
</div>
</div>
<script>
function openDrawerMenu(){
    let x = document.getElementById("nav-bar");
    if (x.className === "site-nav"){
        x.className += "-responsive";
    } else {
        x.className = "site-nav";
    }
}
onload = function(){
    let main_sponsors = document.getElementsByClassName("main-sponsors");
    let sponsors = document.getElementsByClassName("sponsors");
    for (let i = 0; i < main_sponsors.length; ++i) {
        let block = main_sponsors[i];
        let frag = document.createDocumentFragment();
        while (block.children.length) {
            frag.appendChild(block.children[Math.floor(Math.random() * block.children.length)]);
        }
        block.appendChild(frag);
    }
    for (let i = 0; i < sponsors.length; ++i) {
        let block = sponsors[i];
        let frag = document.createDocumentFragment();
        while (block.children.length) {
            frag.appendChild(block.children[Math.floor(Math.random() * block.children.length)]);
        }
        block.appendChild(frag);
    }
}
</script>{% block extra_script %}{% endblock extra_script %}
</body>
</html>
