{% extends "base-sponsors.html" %}

{% block extra_header %}
<link rel="stylesheet" href="{{ config.base_url | safe }}leaflet/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="/>
<script src="{{ config.base_url | safe }}leaflet/leaflet.js" integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="></script>{% endblock extra_header %}

{% block content %}
{{ page.content | safe }}{% endblock content %}

{% block extra_script %}
<script>
var mymap = L.map('mapid').setView([48.847, 2.356], 17);

L.tileLayer('https://{s}.tile.osm.org/{z}/{x}/{y}.png', {
maxZoom: 18,
attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
'<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>',
}).addTo(mymap);

var polygon_auditorium = L.polygon([
    [48.84677331793257 , 2.3567841054318706],
    [48.84647678114181 , 2.357213258874254 ],
    [48.84668153292308 , 2.357524395119981 ],
    [48.846978068501386, 2.3571166993497177]
]).addTo(mymap);
var polygon_entrance = L.polygon([
    [48.846537248955485, 2.3548250199019094],
    [48.84664317900777 , 2.3549966812788625],
    [48.846523124931586, 2.355168342655816 ],
    [48.84641366361124 , 2.3550127745329523]
]).addTo(mymap);

polygon_auditorium.bindPopup("Auditorium", {closeOnClick: false, autoClose: false}).openPopup();
polygon_entrance.bindPopup("Main entrance", {closeOnClick: false, autoClose: false}).openPopup();
</script>{% endblock extra_script %}
